@tailwind base;
@tailwind components;
@tailwind utilities;


/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Set the color and rounded borders of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 111, 50);
  border-radius: 30px;
}


*{
  font-family: sans-serif;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
/* 

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
} */